$shadow-color: rgb(228, 114, 214);
$font-color:rgb(72, 3, 70);

@mixin profile-div() {
  background-color: white;
  height: 200px;
  width: 100%;
  display: flex;
  padding: 25px;
}

@mixin logo() {
  flex: 0 1 200px;

  min {
    height: 100px;
    width: 150px;
  }

  boxsizing: border-box;
  border: 5px rgb(242, 241, 239);
  box-shadow: 12px 12px 18px $shadow-color;
  border-radius: 30px;
  transition: width 2s, height 2s, transform 2s;
}

.profile_head {

  @include profile-div();
  &--last-child {
    flex: 1;
    text-align: right;
  }
}

.profile_logo {
  @include logo();
  &:hover {
    width: 300px;
    height: 200px;
    transform: rotate(360deg);
  }
}

.navigation-list {
  list-style-type: none;
  gap: 20px;
  &--li {
    display: inline-block;
    margin-left: 15px;
  }
}
@keyframes example {
  from {
    top: 0px;
  }

  to {
    top: 30px;
  }
}
@mixin list-item() {
  font-size: larger;
  color:lighten($font-color,10%);
  text-decoration: solid;
  text-shadow: 2px 2px 10px $shadow-color;
  position: relative;
  animation-name: example;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  transition-timing-function: linear;
}

.navigation-list-item {
  @include list-item();
  &:visited {
    color: rgb(36, 4, 117);
  }
  &:hover {
    color: rgb(56, 141, 194);
    text-decoration: underline;
  }
  &:active {
    color: rgb(239, 26, 228);
  }
  &:focus {
    outline: 2px black;
  }
}

.img {
  float: left;
  width: 200px;
  max-width: 100%;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 25px auto;
}

@mixin button() {
  width: 250px;
  height: 50px;
  box-sizing: border-box;
  display: inline-block;
  
  box-shadow: 2px 2px 10px $shadow-color;
  font{
    font-family: Arial;
    size: 18px;
    color: $font-color;
  }
  text-decoration: solid;
  padding: 10px;
  border{
    border:  solid $shadow-color;
    border-radius: 12px;
    bottom: 4px solid rgb(248, 104, 176);
   }
  transition-property: opacity;
  transition-duration: 0.7s;
  /* transition-behavior:va ; */
  transition: width 2s, height 2s, transform 2s;
}

.button-page {
  @include button();
  &:hover :focus {
    background-color: rgb(165, 83, 139);
    color: aliceblue;
    cursor: pointer;
    opacity: 0.6;
    width: 300px;
    height: 50px;
  }
  &:active {
    color: black;
  }
  @media screen and (min-width: 500px) and (max-width: 750px) {
    width: auto;
  }
}

.footer_page {
  display: flex;
  /* position: fixed; */
  clear: both;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_body {
  text-align: justify;
}

.profile_name {
  color: darken($font-color,5%);
}
@mixin grid-item() {
  display: inline-block;
  width: 33%;
  transition-duration: 0.7s;
  transition: width 2s, height 2s, transform 2s;
  box-shadow: 12px 12px 18px $shadow-color;
  background-color: white;
  color:$font-color;
  text-align: center;
  width: auto;
  min-height: auto;
  margin: 20px;
  border-radius: 22px;
  padding: 24px;
}
transform-scale {
  transform: scale(1.1);
  cursor: pointer;
}
.grid-items {
  @include grid-item();
  &:hover :focus {
    @extend transform-scale;
  }
  &--last-child {
    grid-column: 3/3;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin {
      left: 35px;
      right: 35px;
    }
    border-radius: 12px;
  }
}

@supports (display: grid) {
  .contact-section {
    align-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 30px;
    padding: 20px;
  }
}
@mixin contact() {
  box-sizing: border-box;
  border: 5px;
  box-shadow: 12px 12px 18px $shadow-color;
  margin {
    left: 25px;
    right: 25px;
  }
  padding: 20px;
  transition-duration: 5s;
}

.contact-div {
  @include contact();
  &:hover :focus {
    @extend transform-scale;
  }
}

form {
  max-width: 320px;
  font: 1em sans-serif;
}

table,
td,
th {
  border: 1px solid gray;
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
}

th {
  background-color: rgba(208, 82, 219, 0.372);
}

p {
  font-size: 18px;
  font-weight: 500;
  @media screen and (min-width: 500px) {
    font-size: 8px;

    @media screen and (min-width: 500px) and (max-width: 750px) {
      font-size: 10px;

      @media screen and (max-width:750px) {
        font-size: 18px;
      }
    }
  }
}

li {
  font-size: 17px;
  font-weight: 400;
}
h1 {
  @media screen and (min-width: 500px) {
    font-size: small;

    @media screen and (min-width: 500px) and (max-width: 750px) {
      font-size: medium;

      @media screen and (max-width:750px) {
        font-size: larger;
      }
    }
  }
}

.grid .contact-section {
  @media all and (max-width: 500px) {
    grid-template-columns: 1fr;

    @media all and (min-width: 500px) and (max-width: 750px) {
      &--grid {
        grid-template-columns: 1fr 1fr;
      }
      &--contact-section {
        grid-template-columns: 1fr;
      }
      @media all and (max-width: 750px) {
        grid-gap: 10px;
        &--last-child {
          grid-column: auto/auto;
          grid-row: auto/auto;
        }
      }
    }
  }
}

svg {
  width: 750px;
  height: 750px;
  display: block;
  margin: 0 auto;
}

svg * {
  transform-box: fill-box;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  /* transition-duration: 5s;
      animation-name: color-change;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: linear; */
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.social-media.circleBehind a:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.social-media.circleBehind a:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.register-div {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  padding: 20px;
  border-radius: 50%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
}
@keyframes confettiAnimation {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(251, 100, 13);
  border-radius: 50%;
  animation: confettiAnimation 3s infinite linear;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  transition-duration: 0.5s;
}
.confetti:nth-child(2) {
  left: 10%;
}

.confetti:nth-child(3) {
  left: 20%;
}
.confetti:nth-child(4) {
  left: 30%;
}
.confetti:nth-child(5) {
  left: 40%;
}
.confetti:nth-child(6) {
  left: 50%;
}
.confetti:nth-child(7) {
  left: 60%;
}
.confetti:nth-child(8) {
  left: 70%;
}
.confetti:nth-child(9) {
  left: 80%;
}
.confetti:nth-child(10) {
  left: 90%;
}
.confetti:nth-child(11) {
  left: 99%;
}

/* svg{
  height: 300px;
  width: 300px;
  /* padding: 30px; */
/* margin: 30px; */
.confirm {
  height: 300px;
  width: 300px;
}
@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(100% - 300px)
    ); /* Assuming the object's width is 50px */
  }
}
svg{
  position: absolute;
  top: 50%;
  left: 0;
  animation: color-change 4s linear infinite;
  animation-direction: alternate;
  transition-duration: 5s;
}
.first {
  @extend svg;
}
.second {
  @extend svg;
}
.third {
  @extend svg;
}
.fourth {
  @extend svg;
}
