/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 500;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-optical-sizing: auto;
  font-style: normal;
}
header{
  left: 0;
  width: 100%;
  margin: 0;
}
body{
  left:0;
  margin:0;
}


.profile_head {
  /* background-color: white; */
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding:10px 25px;
  /* padding: 20px; */
  /* border-top: 4px solid rgb(128, 200, 241); Add a top border */
  /* border-left: 4px solid rgb(128, 200, 241); Add a left border */
  /* -webkit-box-shadow: 2px 6px 2px rgba(128, 200, 241, 0.5); /* Add shadow 
  box-shadow: 2px 6px 2px rgba(128, 200, 241, 0.5); Add shadow */
  position: static;
  left: 0;
  margin: 0;

}

.profile_logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  height: 80px;
  width: 80px; 
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  transition: width 2s, height 2s, -webkit-transform 2s;
  -o-transition: width 2s, height 2s, transform 2s;
}

/* .style{
    box-sizing: border-box;
    border-radius: 2px;
    background-color:var(--shadow-color);
    height: 200px ;
    width: 500px;
} */

.profile_logo:hover {
  width: 300px;
  height: 200px;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.profile_head :last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  gap: 20px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list-item {
  font-size: larger;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  color: rgb(158, 12, 207);
  -webkit-text-decoration: solid;
  text-decoration: solid;
  text-shadow: 2px 2px 10px rgb(246, 185, 239);
  position: relative;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transition-timing-function: linear, ease;
  -o-transition-timing-function: linear, ease;
  transition-timing-function: linear, ease;
}

.profile_name {
  background:
    -webkit-background(
      linear,
      from(red),
      color-stop(orange),
      color-stop(rgb(142, 142, 25)),
      color-stop(green),
      color-stop(blue),
      color-stop(purple),
      to(pink)
    );
  background:
    -o-linear-gradient(
      left,
      red,
      orange,
      rgb(142, 142, 25),
      green,
      blue,
      purple,
      pink
    );
  background:
    linear-gradient(
      to Right,
      red,
      orange,
      rgb(142, 142, 25),
      green,
      blue,
      purple,
      pink
    );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

@-webkit-keyframes example {
  from {
    top: 1px;
  }

  to {
    top: 30px;
  }
}

@keyframes example {
  from {
    top: 1px;
  }

  to {
    top: 30px;
  }
}

.navigation-list-item:visited {
  color: rgb(36, 4, 117);
}

.navigation-list-item:hover {
  color: rgb(56, 141, 194);
  text-decoration: underline;
}

.navigation-list-item:active {
  color: rgb(239, 26, 228);
}

.navigation-list-item:focus {
  outline: 2px black;
}

.img {
  float: left;
  width: 200px;
  max-width: 100%;
  margin-right: 40px;
  border-radius: 50%;
  
}

.profile {
  max-width: 700px;
  margin: 25px auto;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.button-page {
  width: 250px;
  height: 50px;
  -webkit-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid rgb(128, 200, 241);
  -webkit-box-shadow: 2px 2px 10px rgb(246, 185, 239);
  box-shadow: 2px 2px 10px rgb(246, 185, 239);
  font-family: "Playfair Display", serif;
  font-weight: 700;
  -webkit-text-decoration: solid;
  text-decoration: solid;
  color: rgb(49, 3, 47);
  padding: 10px;
  border-radius: 12px;
  position: relative;
  left: 40%;
}

.button-page:hover {
  background-color: rgb(128, 200, 241);
  color: rgb(37, 33, 33);
  cursor: pointer;
  opacity: 0.6;
  width: 300px;
  height: 50px;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.button-page:focus {
  background-color: rgb(152, 63, 124);
  color: white;
  cursor: pointer;
  opacity: 0.6;
  width: 300px;
  height: 50px;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.button-page:active {
  color: black;
}

.button {
  width: 250px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid rgb(114, 182, 255);
  -webkit-box-shadow: 2px 2px 10px rgb(128, 200, 241);
  box-shadow: 2px 2px 10px rgba(128, 200, 241, 0.5);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  -webkit-text-decoration: solid;
  text-decoration: solid;
  color: rgb(49, 3, 47);
  padding: 10px;
  border-radius: 12px;
  position: relative;
  -webkit-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
}

.button:hover,
.button:focus {
  background-color:rgb(128, 200, 241);
  color: rgb(73, 70, 70);
  cursor: pointer;
  opacity: 0.6;
  text-align: center;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.animation {
  position: relative;
  align-items: center;
  text-align: center;
}

.footer_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position:static;
  height: 100px; 
  clear: both;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 5px;
  left: 0;
  width: 100%;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: larger;
  margin-left: 0px;
  padding: 10px;
  /* -webkit-box-shadow: 2px -6px 2px rgba(128, 200, 241, 0.5); /* Add shadow */
  /* box-shadow: 2px -6px 2px rgba(128, 200, 241, 0.5); */ 
}
.ms{
  position: fixed;
 bottom:0px;
 width: 100%;
}

.profile_name {
  color: rgb(49, 3, 47);
}
main{
  padding-bottom: 50px;
  padding-top: 50px;
}

.grid-items {
  display: inline-block;
  width: 33%;
  -webkit-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
}

.grid-items:hover,
.grid-items :focus {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 12px;
  }
}

.grid-items {
  font-family: "Playfair Display", serif;
  -webkit-box-shadow: 12px 12px 18px rgb(128, 200, 241);
  box-shadow: 12px 12px 18px rgb(128, 200, 241);
  /* background-color: white; */
  color: rgb(49, 3, 47);
  font-weight: 500; 
  text-align: center;
  width: auto;
  min-height: auto;
  margin: 20px;
  border-radius: 25px;
  padding: 24px;
}

.grid-items:last-child {
  -ms-grid-column: 3;
  grid-column: 3/3;
}

@supports (display: grid) {
  .contact-section {
    -ms-flex-line-pack: center;
    align-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    margin: 30px;
    padding: 20px;
  }
}

.contact-div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 5px;
  -webkit-box-shadow: 12px 12px 18px  rgb(128, 200, 241);
  box-shadow: 12px 12px 18px rgb(128, 200, 241);
  margin-left: 25px;
  margin-right: 25px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  padding: 20px;
  -webkit-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
  border-radius: 25px;
}

.contact-div:hover,
.contact-div:focus {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

form {
  max-width: 320px;
  font: 1em sans-serif;
}

table,
td,
th {
  border: 1px solid gray;
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
}

th {
  background-color: rgba(208, 82, 219, 0.372);
}

/* span{
    color: #e3075b;
} */
.red {
  color: #f00;
}

.orange {
  color: rgb(218, 89, 4);
}

.yellow {
  color: #878702;
}

.green {
  color: rgb(5, 133, 5);
}

.blue {
  color: #36f;
}

.purple {
  color: #c3f;
}

.pink {
  color: #f3c;
}

p {
  /* font-size: 18px; */
  font-weight: 500;
  font-family: "Playfair Display", serif;
  color: rgb(49, 3, 47);
}

h1 {
  font-family: "Playfair Display", serif;
  color: rgb(49, 3, 47);
  font-weight: 700;
  font-size: 22px;
}

li {
  font-size: 17px;
  font-weight: 500;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contact-section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  p {
    font-size: 8px;
    font-weight: 600;
  }

  h1 {
    font-size: small;
  }

  .button-page {
    width: auto;
    align-items: center;
    font-weight: 600;
  }

  .button {
    width: auto;
    align-items: center;
    text-align: center;
    font-weight: 600;
  }

  .svg {
    height: auto;
    width: auto;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .contact-section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  p {
    font-size: 10px;
    font-weight: 600;
  }

  h1 {
    font-size: medium;
  }

  .button-page {
    width: auto;
    align-items: center;
    font-weight: 600;
  }

  .button {
    width: auto;
    align-items: center;
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid-items:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }

  p {
    font-size: 18px;
  }

  h1 {
    font-size: larger;
  }
}

svg {
  width: 750px;
  height: 750px;
  display: block;
  margin: 0 auto;
}

svg * {
  transform-box: fill-box;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  /* transition-duration: 5s;
        animation-name: color-change;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear; */
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
  animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.social-media.circleBehind a:hover,
.social-media.circleBehind a::before {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.social-media.circleBehind a:hover ::after {
  opacity: 1;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.3);
  -ms-transform: translateX(-50%) translateY(-50%) scale(1.3);
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.register-div {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%; /* Allows gradient to move across div */
  animation: gradient 5s ease infinite;
  padding: 20px;
  border-radius: 20px; /* Rounded corners instead of 30% to avoid extreme rounding */
  position: relative;
  display: flex;
  flex-direction: column; /* Aligns children vertically */
  justify-content: center;
  align-items: center;
  width: 90%; /* More responsive width */
  max-width: 500px; /* Maximum width for larger screens */
  margin: 0 auto; /* Center-aligns the div horizontally */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  margin-top: 2px;
}

@-webkit-keyframes confettiAnimation {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes confettiAnimation {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: 0 auto;
  background-color: rgb(251, 100, 13);
  border-radius: 50%;
  -webkit-animation: confettiAnimation 3s infinite linear;
  animation: confettiAnimation 3s infinite linear;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.confetti:nth-child(2) {
  left: 10%;
}

.confetti:nth-child(3) {
  left: 20%;
}

.confetti:nth-child(4) {
  left: 30%;
}

.confetti:nth-child(5) {
  left: 40%;
}

.confetti:nth-child(6) {
  left: 50%;
}

.confetti:nth-child(7) {
  left: 60%;
}

.confetti:nth-child(8) {
  left: 70%;
}

.confetti:nth-child(9) {
  left: 80%;
}

.confetti:nth-child(10) {
  left: 90%;
}

.confetti:nth-child(11) {
  left: 99%;
}

.confirm {
  height: 300px;
  width: 300px;
  margin-top: 10%;
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(100% - 300px));
    transform: translateX(calc(100% - 300px));
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(100% - 300px));
    transform: translateX(calc(100% - 300px));
  }
}

.first {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-animation: color-change 4s linear infinite;
  animation: color-change 4s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;

  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.second {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-animation: moveRight 5s linear infinite;
  animation: moveRight 5s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
}

.third {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-animation: moveRight 5s linear infinite;
  animation: moveRight 5s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
}

.fourth {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-animation: moveRight 5s linear infinite;
  animation: moveRight 5s linear infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s;
}

.register-page {
  text-align: center;
}

#contact-form {
  position: relative;
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


    /* Modal Styling */
    .modal {
      display: none; /* Hidden by default */
      position: fixed;
      top: 0;
      left: 0;
      overflow: auto;
      width: 100%;
      height: 100%;
      z-index: 1000; 
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }
    .modal-content {
      margin: auto;
      padding: 20px;
      width: 80%;
      max-width: 600px;
      background-color: #fff;
      border-radius: 8px;
      position: relative;
      /* Add margin-bottom to ensure no overlap */
      margin-bottom: 40px;
    }
    .close {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 24px;
      cursor: pointer;
    }
    .modal-footer{
      background-color:rgb(156, 214, 247);
      text-align: center;
      padding: 10px;
    }
    .modal-header{
      background-color:  rgb(156, 214, 247);
      text-align: center;
      padding: 10px;
    }

    .carousel {
      position: relative;
      width: 100%;
      max-width: 600px;
      margin: auto;
      display: flex;
      align-items: center;
    }
    
    .carousel-images img {
      width: 100%;
      display: none;
    }
    
    .carousel-images img.active {
      display: block;
    }
    
    .carousel-control {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 10px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.3s;
      user-select: none;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
    }
    
    .carousel-control.prev {
      left: 10px;
    }
    
    .carousel-control.next {
      right: 10px;
    }
    body
{
  width: 100%; 
  height:100%;
  margin:0;
  background-color:#8ec1da;
  background-image: url("http://vollnixx.files.wordpress.com/2013/12/clouds_real.jpg");
  background-position: center bottom;
  animation: animatedBackground 30s linear infinite;
  /* Safari and Chrome: */
  -webkit-animation: animatedBackground 30s linear infinite;
}
@keyframes animatedBackground 
{
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
}
@-webkit-keyframes  animatedBackground 
{
  from { background-position: 0 100%; }
  to { background-position: 100% 100%; }
}
#content
{
  position:fixed;
  top:5em;
  height:1em;
  width:19em;
  /* background-color:rgba(1,1,1,0.5); */
  /* color:white; */
  padding:2em;
  border-bottom-right-radius: 5em;
  -webkit-border-bottom-right-radius: 5em;
   border-top-left-radius: 5em;
  -webkit-border-top-left-radius: 5em;
}
.modal-screenshots{
  height: 100px;
  width:100px;

}
.w3-light-grey {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
}

#w3-container {
  border-radius: 10%;
}

.w3-container {
  border-radius: 10;
}

.w3-container.w3-green {
  background-color: #4CAF50;
  text-align: center;
  line-height: 24px;
  color: white;
  font-size: 14px;
}

.w3-button.w3-light-grey {
  display: inline-block;
  height: auto;
  width:auto;
  background-color: #d9d9d9;
  color: black;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #ccc;
}

.w3-button.w3-light-grey:hover {
  background-color: #c0c0c0;
  
}
h2 {
  text-align: center;
  color: #333;
  left:0;
}

.skills-container {
  width: 80%;
  margin: 20px auto;
}

.skill {
  margin-bottom: 20px;
}

.skill-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

.progress-bar-container {
  position: relative;
  height: 25px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 15px;
  text-align: right;
  line-height: 25px;
  padding-right: 10px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.html {
  width: 90%;
  background-color: #f16529;
}

.css {
  width: 80%;
  background-color: #2965f1;
}

.javascript {
  width: 65%;
  background-color: #f7df1e;
  color: black;
}

.angular {
  width: 35%;
  background-color: #dd0031;
}

.react {
  width: 70%;
  background-color: #61dafb;
  color: black;
}

.database{
  width: 60%;
  background-color: #f19164;
  color: black;
}

.github {
  width: 70%;
  background-color: #be1be7;
  color: black;
}

.ai-tool {
  width: 50%;
  background-color: #1ad23c;
  color: black;
}

   